// Local Vars
$sidebar-item-padding: 8px 0;
$font-size: rem( 14px );

.sidebar {
	// Setting the position and clearing some
	// margins and paddings.
	box-sizing: border-box;
	margin: 0;
	padding: 0 0 12px;
	min-height: calc( 100vh - var( --masterbar-height ) );

	display: flex;
	flex-direction: column;

	overflow: auto;

	// Not sure this is needed.
	@include breakpoint-deprecated( '<660px' ) {
		-webkit-overflow-scrolling: touch;
	}

	// Prevent elements from shrinking during
	// initial load in Safari. Unsure if still required?
	.current-site,
	.sidebar__footer,
	ul,
	li {
		flex-shrink: 0;
	}

	// Reset lists to avoid bullets and margins.
	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
	}

	.count {
		margin-left: 8px;
		background-color: var( --color-sidebar-menu-hover-background );
		border-color: var( --color-sidebar-menu-hover-background );
		color: var( --color-sidebar-menu-hover-text );
	}
}

// This button is hidden until focused. It allows screen-readers
// and other assistive technology to skip the sidebar.
.sidebar__skip-navigation {
	position: absolute;
	left: -10000px;
	flex-shrink: 0;

	&:focus {
		position: relative;
		left: auto;
	}
}

.sidebar__heading,
.sidebar__menu-link {
	position: relative;
	font-size: $font-size;
	font-weight: 400;
	line-height: 1.3;
	padding: 0 0 0 8px;
	color: var( --color-sidebar-text );

	&::after {
		content: ' ';
		display: none;
		z-index: 1;
		position: absolute;
		top: 50%;
		right: 0;
		width: 0;
		height: 0;
		margin-top: -8px;
		border: solid 8px transparent;
		border-right-color: var( --color-surface-backdrop );
		pointer-events: none;
	}
}

.sidebar__heading:not( [tabindex='-1'] ),
.sidebar__menu-link {
	&:hover,
	&:focus {
		background-color: var( --color-sidebar-menu-hover-background );
		color: var( --color-sidebar-menu-hover-text );
		box-shadow: inset 4px 0 0 0 currentColor;
		transition: box-shadow 0.1s linear;
	}
}

// Sidebar menu icons for main sections
.sidebar__menu-icon {
	fill: var( --color-sidebar-gridicon-fill );
	margin-right: 8px;
	flex-shrink: 0;
	background-size: contain;
	color: var( --color-sidebar-gridicon-fill );
}

img.sidebar__menu-icon {
	opacity: 0.6;
}

// Checklist progress
.sidebar__menu .myhome .sidebar__menu-link-text {
	max-width: calc( 100% - 80px );
	white-space: normal;
	padding-right: 8px;
}

.sidebar__checklist-progress {
	width: 80px;

	.sidebar__checklist-progress-text {
		font-size: $font-body-extra-small;
		margin: 0;
		white-space: normal;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.progress-bar {
		background-color: rgba( var( --color-sidebar-text-rgb ), 0.4 );
		height: 6px;

		.selected & {
			background-color: rgba( var( --color-sidebar-menu-selected-text-rgb ), 0.4 );
		}

		.progress-bar__progress {
			background-color: var( --color-sidebar-text );

			.selected & {
				background-color: var( --color-sidebar-menu-selected-text );
			}
		}
	}
}

// Menu links: The actual anchor tags that contain links to
// various sections of Calypso.
.sidebar__menu-link {
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	align-items: center;

	&,
	&:visited {
		color: var( --color-sidebar-text );
	}

	// I think this is some voodoo to change the color
	// of a link when tapped on iOS.
	-webkit-tap-highlight-color: rgba( var( --color-neutral-700-rgb ), 0.2 );

	&:hover {
		.sidebar__menu-icon {
			fill: var( --color-sidebar-menu-hover-text );
		}

		.count {
			border-color: var( --color-sidebar-menu-hover-text );
		}
	}

	&:focus {
		outline: none;
	}

	.badge {
		margin: -7px 0 -8px;
	}

	.sidebar__menu-link-badge {
		margin-left: 8px;
		color: var( --color-warning-light );
		padding: 1px 6px;
		font-size: $font-body-extra-small;
	}

	.selected &,
	.selected &:hover {
		color: var( --color-sidebar-menu-selected-text );
		background-color: var( --color-sidebar-menu-selected-background );

		&::after {
			display: block;
		}

		.stats-sparkline {
			--color-stats-sparkline: var( --color-sidebar-menu-selected-text );
		}

		.sidebar__menu-icon {
			fill: var( --color-sidebar-menu-selected-text );
		}

		.count {
			background-color: transparent;
			border-color: var( --color-sidebar-menu-selected-text );
			color: var( --color-sidebar-menu-selected-text );
		}
	}

	// Some links are marked as "external" and show
	// an icon to visually indicate they will open
	// a new window/tab.
	.gridicons-external,
	&.external-link .gridicons-external {
		position: absolute;
		right: 21px;
		top: auto;
	}
}

.sidebar__expandable-arrow,
.sidebar__menu-link .gridicons-external {
	width: 20px;
	height: 20px;
}

.sidebar__menu.is-togglable .sidebar__menu-link {
	line-height: 1.5;
	padding: 7px 16px 7px 20px;
}

.sidebar__menu-link-text {
	flex: auto;
}

.sidebar__expandable-title,
.sidebar__menu-link-text {
	padding: $sidebar-item-padding;
	max-height: 34px;
	box-sizing: border-box;
}

.sidebar__menu-link-secondary-text {
	margin-right: 8px;
	align-self: center;
	font-weight: 600;
	font-size: $font-body-extra-small;
	position: absolute;
	right: 0;
	z-index: 1;
	color: var( --color-sidebar-text-alternative );
	padding: 4px 8px;

	.selected &,
	.sidebar__menu-link:hover & {
		color: inherit;
	}
}

// Expandables: Some sidebar menus act like accordions where
// you can hide and show the contained list.
.sidebar__menu.is-togglable {
	.sidebar__heading {
		display: flex;
		padding: 10px 16px 10px 20px;
		font-weight: 600;
		cursor: pointer;
		align-items: center;

		&:hover {
			background-color: var( --color-sidebar-menu-hover-background );
			color: var( --color-sidebar-menu-hover-text );

			.sidebar__menu-icon,
			.sidebar__expandable-arrow {
				fill: var( --color-sidebar-menu-hover-text );
			}

			.count {
				background-color: transparent;
				border-color: var( --color-sidebar-submenu-selected-text );
				color: var( --color-sidebar-submenu-selected-text );
			}
		}
	}

	.sidebar__expandable-title {
		flex: 1 1 0;
	}

	.sidebar__expandable-arrow {
		transition: transform 0.1s linear;
		fill: var( --color-sidebar-gridicon-fill );
	}

	.sidebar__menu-link {
		padding-left: 55px;
	}

	&.is-toggle-open {
		.sidebar__expandable-arrow {
			transform: rotate( 180deg );
		}
		.count {
			background-color: transparent;
			border-color: var( --color-sidebar-submenu-selected-text );
			color: var( --color-sidebar-submenu-selected-text );
		}
	}
}

// Sometimes we show info at the bottom of the sidebar. For
// example on My Site(s), for users with a single site, we
// show a button to add a new site.
.sidebar__wp-admin,
.sidebar__footer {
	margin-top: 16px;
}

.sidebar__menu-wrapper {
	border-top: 1px solid var( --color-sidebar-border );
}

.sidebar__menu-link-badge {
	display: inline-block;
	padding: 1px 6px;
	border: solid 1px var( --color-warning );
	border-radius: 12px;
	font-size: $font-body-extra-small;
	line-height: 14px;
	text-align: center;
	color: var( --color-warning-light );
	margin-left: 8px;
}

.sidebar__separator {
	margin: 0 0 11px;
}

.sidebar__expandable-content {
	background: var( --color-sidebar-submenu-background );
	padding: 7px 0 8px;

	.sidebar__menu-link {
		padding: 5px 12px;
		/* stylelint-disable-next-line  declaration-property-unit-allowed-list */
		font-size: rem( 13px );
		line-height: 1.4;
		font-weight: 400;
		color: var( --color-sidebar-submenu-text );

		&:hover,
		&:focus {
			background-color: var( --color-sidebar-submenu-hover-background );
			color: var( --color-sidebar-submenu-hover-text );
		}
	}

	.selected .sidebar__menu-link {
		background-color: var( --color-sidebar-submenu-selected-background );
		color: var( --color-sidebar-submenu-selected-text );
		font-weight: 600;
	}

	.sidebar__menu-link-text {
		padding: 0;
	}
}

.sidebar__menu--selected .selected .sidebar__menu-link::after,
.sidebar__expandable-content .selected .sidebar__menu-link::after {
	display: none;
}

@media screen and ( max-width: 782px ) {
	.sidebar__menu-link {
		padding: 0 0 0 12px;
		font-size: 1rem;
	}

	.sidebar__menu-icon {
		margin-right: 10px;
	}

	.sidebar__menu-link-text {
		padding: 13px 0;
		max-height: inherit;
	}
}

@media screen and ( max-width: 660px ) {
	.sidebar {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding-bottom: 120px;
	}
}
